<h2 class="title is-3"><%= @category.name.capitalize %></h2>
<p class="content is-medium has-text-grey-darker">There are <%= @products.count %> product in this category.</p>
<p class="content is-medium has-text-grey-darker">Product in <%= @category.name.capitalize %> are: </p>

<div class="container pagination justify-content-center" >
  <%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>

<% if @products.empty? %>
  <p> There are no products in this category</p>
<% else%>
  <div class="row">
    <% @products.each do |product|%>
      <div class="col ">
    <div class="card border-light mb-3" >
       <% if product.image.empty? %>
        <%= image_tag product.attachedimage.variant(resize_to_limit: [380, 400]).processed %>

    <% else%>
        <img src="<%= product.image %>"  alt="Image not found" width="380" height="400" />
    <% end %>
      <div class="card-body">
        <h5 class="card-title"> <%= product.name.capitalize %></h5>
        <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
        <%= link_to "Find Out More" , product_path(product)%>
      </div>
    </div>
            </div>
      <% end %>
</div>
<div class="container pagination justify-content-center" >
  <%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>
<% end %>

<p> <%= link_to "Home", root_path%> </p>