<% if @products.empty?  %>
  <p>There are no categories available.</p>
<% else%>

<details>
  <Summary> Shopping Cart</Summary>
  <ul>
    <% @cart.each do |product| %>
      <li><%= product.name %> - <%= link_to 'Remove',remove_from_cart_path(product.id),method: :delete%></li>
    <% end %>
    <%= button_to 'Buy Now',checkout_create_path,method: :post %>
  </ul>
</details>


<div class="container pagination justify-content-center" >
  <%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>

<% if current_user %>
  <%= link_to 'Sign out', destroy_user_session_path,method: :delete %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>


<div class="row">
    <% @products.each do |product|%>
      <div class="col ">
    <div class="card border-light mb-3" >
    <% if product.image.empty? %>
        <%= image_tag product.attachedimage.variant(resize_to_limit: [380, 400]).processed %>

    <% else%>
        <img src="<%= product.image %>"  alt="Image not found" width="380" height="400" />
    <% end %>
      <div class="card-body">
        <h5 class="card-title"> <%= product.name.capitalize %></h5>
        <p class="card-text">
            <strong>Price:</strong>
            <%= number_to_currency product.price %>
            <% if current_user %>
              <% if @cart.include?(product) %>
                <%= button_to 'Remove from cart',remove_from_cart_path(product.id),method: :delete%>
              <% else %>
                <%= link_to "Add to cart" , add_to_cart_path(product.id),method: :post %>
              <% end %>
            <% end %>
        </p>
        <%= link_to "Find Out More" , product_path(product)%>

      </div>
    </div>
            </div>
      <% end %>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>

<% end%>