<% if @products.empty?  %>
  <p>There are no categories available.</p>
<% else%>

<% if current_user %>
<div id = "cart">
  <%= render 'carts/cart' %>
</div>

<% end %>

<div class="container pagination justify-content-center" >
  <%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>


<div class="row">
    <% @products.each do |product|%>
      <div class="col ">
        <div class="card border-light mb-3" >
            <% if product.image.empty? %>
              <%= image_tag product.attachedimage.variant(resize_to_limit: [380, 400]).processed %>
            <% else%>
              <img src="<%= product.image %>"  alt="Image not found" width="380" height="400" />
            <% end %>
      <div class="card-body">
        <h5 class="card-title"> <%= product.name.capitalize %></h5>
        <p class="card-text">
            <strong>Price:</strong>
            <%= number_to_currency product.price %>
            <% if current_user %>
              <%= form_for @order_detail do |f| %>
                <%= f.hidden_field :product_id, :value => product.id%>
                <%= f.number_field :quantity, :vaue => 1, :min => 1 %>
                <%= f.submit "Add to Cart" %>
              <% end %>
            <% end %>
        </p>
        <%= link_to "Find Out More" , product_path(product)%>
      </div>
    </div>
            </div>
      <% end %>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>

<% end%>