<% if @products.empty?  %>
  <p>Can't find any product related to your search.</p>
<% else%>
<div class="row">
    <% @products.each do |product|%>
      <div class="col ">
    <div class="card border-light mb-3" >
        <% if product.image.empty? %>
        <%= image_tag product.attachedimage.variant(resize_to_limit: [380, 400]).processed %>
        <% else%>
            <img src="<%= product.image %>"  alt="Image not found" width="380" height="400" />
        <% end %>
      <div class="card-body">
        <h5 class="card-title"> <%= product.name.capitalize %></h5>
        <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
        <%= link_to "Find Out More" , product_path(product)%>
      </div>
    </div>
            </div>
      <% end %>
</div>
<% end%>